<header>
        A Little Bit About Rome..
</header>
<section>
        <nav>
            <tr>
                <td><p class="p_info"><b>Flag:</b></p></td>
                <td><img src="pictures/rome_flag.png"></td>
                <td><p class="p_info"><b>Population:</b> 2,863,322  </p></td>
                <td><p class="p_info"><b>Formal Language:</b> italian </p></td>
                <td><p class="p_info"><b>Location:</b></p></td>
                <td><img src="pictures/rome_map.jpg"></td>

            </tr>
        </nav>
        <article>
            <p class=p_info id="about_txt1">
            Rome, the Eternal City, is the capital and largest city of Italy and of the Lazio region.
                It's the famed city of the Roman Empire, the Seven Hills, La Dolce Vita (the sweet life), the Vatican City and Three Coins in the Fountain. Rome, as a millenium-long centre of power, culture (having been the cradle of one of the globe's greatest civilisations ever) and religion, has exerted a huge influence over the world in its roughly 2800 years of existence.
            </p>
            <p class=p_info id="about_txt2">
            The historic centre of the city is a UNESCO World Heritage Site.
                With wonderful palaces, millennium-old churches, grand romantic ruins, opulent monuments, ornate statues and graceful fountains, Rome has an immensely rich historical heritage and cosmopolitan atmosphere, making it one of Europe's and the world's most visited, famous, influential and beautiful capitals.
            </p>
            <p class=p_info id="about_txt3">
                Today, Rome has a growing nightlife scene and is also seen as a shopping heaven, being regarded as one of the fashion capitals of the world (some of Italy's oldest jewellery and clothing establishments were founded in the city).

            With so many sights and things to do, Rome can truly be classified a "global city".
            </p>
            <p class=p_info>If you want to read about the history of the city just press the button:</p>


               <button ng-click=" goToHistory_func()"class="more_info">Rome History</button>


            </br>
            <table>
            <tr>
                <td> <img ng-style="{'height': '210px'}"  ng-src="pictures/vatican.jpg"> </td>
                <td>  <img ng-style="{'height': '210px'}"  ng-src="pictures/Campo de Fiori.jpg"></td>
            </tr>
            <tr>
                <td> <p class=p_info>Vatican- city full of history</p> </td>
                <td> <p class=p_info>Campo de Fiori- city full of life</p> </td>
            </tr>
            </table>

        </article>
</section>
    <footer>
            <td>
                <p>For more help and information: Related Websites</p>
                <tr><a href=https://wikitravel.org/en/Rome>Viki Travel</a></tr>
                <tr><a href=https://www.lonelyplanet.com/italy/rome>Lonely Planet</a></tr>
                <tr><a href="https://www.tripadvisor.com/Travel_Guide-g187791-Rome_Lazio.html">Trip Advisor</a></tr>
                <tr><a href="https://www.telegraph.co.uk/travel/destinations/europe/italy/rome/">Telegraph</a></tr>
            </td>
    </footer>