<div id ="history" ng-init="initiate()" >
<header>
 Rome history
</header>
<p>
    <p class="history_txt">Rome's history spans over two and half thousand years, which have seen its transformation from a small Latin village to the centre of a vast empire, through the founding of Catholicism, and into the capital of today's Italy.
        This is a long and complex topic; what follows is merely a quick summary.
    </p>
    <p class="history_txt">
        Rome is traditionally said to have been founded by the mythical twins Romulus and Remus (the sons of Mars and Rhea Silvia) on 21 April 753 BC. The twins were abandoned as infants in the Tiber river and raised by a she-wolf (Lupa) before being found by a shepherd (Faustulus), who raised them as his own sons.
    </p>
    <p class="history_txt">
        Actually, Rome was founded as a small village on top of the Palatine Hill (including the area where the Roman Forum is found) sometime in the 8th century BC; due to the village's position at a ford on the Tiber river, Rome became a crossroads of traffic and trade. The settlement developed into the capital of the Roman Kingdom, led by a series of Etruscan kings, before becoming the seat of the Roman Republic in 509BC and then the centre of the Roman Empire from 27BC to 285AD.
        For almost a thousand years, Rome was the largest, wealthiest, most powerful city in the Western world, with dominance over most of Europe and the Mediterranean Sea.
        Even after the fall of the Western Roman Empire in 476AD, Rome maintained considerable importance and wealth. Beginning with the reign of Constantine I (306-337), the Bishop of Rome (later known as the Pope) gained political and religious importance, establishing the city as the centre of the Catholic Church.
        The city was sacked by the barbarians, first in 410 and again in 455; after the fall of the Western Roman Empire in AD 476 the city withstood a siege by the Ostrogoths in AD 537 and a Saracen raid in AD 846, followed by its capture by the Normans in 1084.
    </p>
    <p class="history_txt">
        During the Early Middle Ages, the city declined in population but gained a new importance as the capital of the newly formed Papal States; Charlemagne, for example, was crowned Emperor at Saint Peter's in 800. Throughout the Middle Ages, most of the city's ancient monuments fell in disrepair and were gradually stripped of their precious statues, ornaments and materials;
        these were either recycled in other constructions or, as in the case of marble, baked in order to obtain mortar for new buildings... meanwhile, the ancient Fora became nothing more but pasture land.
        However, Rome not only was a major pilgrimage site but was also the focus of struggles between Roman nobles and, most importantly, between the Holy Roman Empire and the Papacy. In 1309 The Pope left Rome for Avignon, at the request of the King of France, and the city plunged into chaos; despite it being formally under the authority of the Pontiff, nobles ruled it as they pleased and were known for oppressing its citizens, often engaging in bloody feuds.
        By 1347, the populace was on the verge of rebellion - a commoner, Cola di Rienzo, became "Tribune of the People" and promised to rule for the good of the city; a free comune (city-state) was established, nobles were exiled and a vast reform programme was started. However, said nobles conspired against Cola and this, along with the Tribune's own vanity, caused his downfall in 1354.
    </p>
    <p class="history_txt">
        The Santa Maria in Trastevere church, a symbol of early medieval Rome.
        Following the return of the Papacy (1377) from the Avignonese captivity and with the Italian Renaissance fully under way in the 15th century, Rome changed dramatically. Extravagant churches, bridges, and public spaces, including a new Saint Peter's Basilica and the Sistine Chapel, were constructed by the Papacy so that Rome would equal the grandeur of other Italian cities of the period.
        The city recovered quickly from the sack of 1527 and, in the following 200 years, it became the centre of Baroque architecture; renowned artists such as Michelangelo, Bernini and Caravaggio worked there while the new St. Peter's basilica was begun in 1506, only to be completed in 1626. During the latter stages of the French Revolution - more precisely, in 1798 - local revolutionaries inspired by the new ideals rose against Papal authority and a Roman Republic was declared; the Pontiff was forced to flee and the following year troops from the Kingdom of Naples entered the city, thus putting an end to the revolutionary movement.
    </p>
    <p class="history_txt">
        Between 1805 and 1814, Rome was also occupied by Napoleonic troops.
    </p>
    <p class="history_txt">
        In 1849, the population - with the aid of patriots such as Giuseppe Garibaldi and Giuseppe Mazzini - rose against the Papal government and forced the Pontiff to flee the city and seek refuge at Gaeta.
        A modern, democratic, Constitution was drafted and a new Roman Republic was proclaimed.
        The Pope then requested the help of the French emperor, Napoleon III, who promptly sent an expeditionary force: despite some initial setbacks the French troops overcame the revolutionary forces which, after a month-long siege, attempted a desperate last stand on the Janiculum hill.
        In the ensuing bloodbath, the Italian patriots - along with their foreign allies - were crushed; Goffredo Mameli, composer of the current Italian anthem, was among the fallen.
        In 1860 Rome became again the focus of a power struggle with the rise of the Kingdom of Sardinia-Piedmont, which sought to unite the peninsula; after a series of battles, the Papal States were stripped of all their Italian possessions except for Rome, which remained under French protection.
        However, with the outbreak of the Franco-Prussian War, the French abandoned Rome, leaving it clear for the newly-formed Kingdom of Italy to capture on 20 September 1870. Rome became thus the capital of Italy, and has remained such ever since. The new Italian government started a huge campaign of public works;
        new districts (such as Prati, or the Esquilino), monuments (the Vittoriano) and public buildings were built, while countless Medieval and Renaissance buildings were torn down to make way for the new street layout and the Tiber river was enclosed within its current embankments.
    </p>
    <p class="history_txt">
        Following World War I, with the rise of Fascism in 1922 Rome's face changed again: new districts (the EUR), avenues (via della Conciliazione, via dei Fori Imperiali) and other public buildings were built and ancient sites (such as the Fora or the Circus Maximus) were feverishly excavated;
        in doing so, entire Medieval neighbourhoods were bulldozed. Population grew; this trend was halted by World War II, which dealt (relatively minor) damage to Rome. After Italy had signed the Armistice, the city was occupied by the Germans on 8 September 1943 despite heavy resistance from surviving units of the Royal Italian Army aided by local partisan formations:
        these were crushed in a bloody battle near Porta S. Paolo. Roman Jews were deported on 16 October and on 24 March 1944 - after 33 German soldiers were killed in a partisan attack - 335 civilians were rounded up and summarily executed at the Fosse Ardeatine.
        Rome was finally liberated by Allied troops on 4 June.
    </p>
    <p class="history_txt">
        With the fall of the monarchy and the creation of the Italian Republic in 1946, Rome again began to grow in population and became a modern city.
        Today's Rome is a modern, contemporary, bustling metropolis with an ancient core that reflects the many periods of its long history - the ancient times, the Middle Ages, the Renaissance, the Modern Era - standing today as the capital of Italy and as one of the world's major tourist destinations.</p>
    </p>
</section>
<aside>
    <tr>
        <td><img src="pictures/vatican.jpg" class="his_pic" ></td>
        <td> <img src="pictures/im_history1.JPG" class="his_pic" ></td>
        <td> <img src="pictures/im_history2.JPG" class="his_pic"></td>
    </tr>

</aside>
</div>