<div id="showPOI" ng-init="init()" class="ng-scope">
    <center>
        <a id="namePOI" class="ng-binding">{{poi.name}} </a>
        <br>
        <br>
        <br> <img ng-style="{'height': '200px'}" ng-src="{{poi.image}}">
        <br>
        <br>
        <a> Discription:  </a>
        <br>
        <br>
        <a class="ng-binding"> {{poi.discription}}</a>
        <br>
        <br>
        <a class="ng-binding"> Views: {{poi.views}}      </a>   <a class="ng-binding">      Rank:  {{poi.rank}}</a>
    </center>
</div>