<div ng-init="initiate()" id="password">
<center>
    <a> Forgot Password</a>
    <br>
    <br>
    <input ng-model="userName" type="text" name="user" placeholder="Username">
    <br>
    <br>
    <button  ng-click="getQuestion($event)" class="b_class" type="submit">Get Verification questions</button>
    <br>
    <br>
    <a> {{firstQuestion}} </a>
    <br>
    <br>
    <input ng-style="styleFirstAnswer" ng-model="firstAnswer" type="text" name="firstAnswer" placeholder="Answer">
    <br>
    <br>
    <a ng-style="secStyle">  {{secondQuestion}} </a>
    <br>
    <br>
    <input ng-style="styleSecondAnswer" ng-model="secondAnswer" type="text" name="firstAnswer" placeholder="Answer">
    <br>
    <br>
    <button ng-style="GetPasBut" ng-click="GetPass($event)" class="b_class" type="submit">getPassWord</button>
    <br>
    <br>
    <a> {{Pass}} </a>
</center>
</div>